### Mac ###
.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Java ###
target/
logs/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
application-prod.yml

### VUE ###
node_modules
dist