<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tucci.sso.server.model.dao.UserAccountMapper">
    <resultMap id="BaseResultMap" type="cn.tucci.sso.server.model.domain.UserAccount">
        <id column="uid" property="uid" jdbcType="BIGINT"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="is_lock" property="isLock" jdbcType="BIT"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="updated_time" property="updatedTime" jdbcType="BIGINT"/>
        <result column="is_deleted" property="isDeleted" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List">
    uid, email, phone, username, password, is_lock, create_time, updated_time, is_deleted
  </sql>
</mapper>