<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <title>Tucci | sso</title>
    <link href="http://sso-res.2cci.cn/css/app.css" rel="preload" as="style">
    <link href="http://sso-res.2cci.cn/css/chunk-vendors.0d04b906.css" rel="preload" as="style">
    <link href="http://sso-res.2cci.cn/js/app.js" rel="preload" as="script">
    <link href="http://sso-res.2cci.cn/js/chunk-vendors.caf4af1f.js" rel="preload" as="script">
    <link href="http://sso-res.2cci.cn/css/chunk-vendors.0d04b906.css" rel="stylesheet">
    <link href="http://sso-res.2cci.cn/css/app.css" rel="stylesheet">
</head>
<body>
<noscript><strong>We're sorry but sso-web doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div id="app"></div>
<script src="http://sso-res.2cci.cn/js/chunk-vendors.caf4af1f.js"></script>
<script src="http://sso-res.2cci.cn/js/app.js"></script>
</body>
</html>