<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="console_pattern" value="%highlight([%-5level]) %d{yyyy-MM-dd HH:mm:ss} [%thread] - %cyan(%logger) : %msg%n"/>
    <property name="file_pattern" value="[%-5level] %d{yyyy-MM-dd HH:mm:ss} [%thread] - %logger : %msg%n"/>
    <property name="log_path" value="logs/sso-server"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${console_pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_path}/error/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_path}/error/error%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <!-- 只记录error -->
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>${file_pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_path}/info/info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_path}/info/info%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>${file_pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="ERROR">
        <appender-ref ref="console"/>
        <appender-ref ref="error"/>
        <appender-ref ref="info"/>
    </root>
    <logger name="cn.tucci" level="INFO"/>
</configuration>
